upstream gunicorn_hrng {
	server localhost:8081 fail_timeout=0;
}

server {
	listen 80;
	server_name <%= @server_name %>;
	rewrite ^ https://$server_name$request_uri? permanent;
}

server {
	listen 443;
	server_name <%= @server_name %>;
	ssl on;

	ssl_certificate      /etc/pki/nginx/startssl_combined_certs;
	ssl_certificate_key  /etc/pki/nginx/<%= @server_name %>-ssl.key;

	root /opt/hr/application/basehtml;

	location /epw14 { 
		root /opt/hr/application/app;
		try_files $uri @hrng;
	}

	location @hrng {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $http_host;
		proxy_set_header X-Scheme $scheme;
		proxy_redirect off;
		proxy_pass   http://gunicorn_hrng;
		proxy_set_header SCRIPT_NAME /epw14;
	}
}
