upstream gunicorn_hrng {
	server localhost:8081 fail_timeout=0;
	
}
server {
	listen 80;
	server_name <%= @server_name %>;

	root /opt/hr/application/basehtml;

	location /epw14 { 
		root /opt/hr/application/app;
		try_files $uri @hrng;
	}

	location @hrng {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $http_host;
		proxy_redirect off;
		proxy_pass   http://gunicorn_hrng;
		proxy_set_header SCRIPT_NAME /epw14;
	}
}
